{% extends 'main/base.html' %}
{% load static %}
{% block title %}{{ cs.main_title }}{% endblock %}
{% block description %}Tattoo fonts generator online{% endblock %}
{% block keywords %} Tattoo fonts generator online, free font for tattoo, tattoo font online, generator of fonts for tattoo,Tattoo, Lettering tattoo, Script tattoo, Font tattoo, Tattoo designs, Letters font, Font style, Free tattoo font{% endblock %}
{% block main %}
    <section class="headBlock">
        <h1 class="mainTitle">{{ cs.main_title }}</h1>
        <p class="headBlockInstruction">Instruction</p>
        <pre class="headBlockListItem" style="white-space: pre-line;">{{ cs.instruction }}</pre>
    </section>

    <section class="downloadBlock">
        <svg width="103" height="73" viewBox="0 0 103 73" fill="none" xmlns="http://www.w3.org/2000/svg"
             class="plugImg">
            <path d="M94.4167 0.449997H8.58333C3.84533 0.455576 0.00557917 4.29533 0 9.03333V63.9667C0.00557917 68.7047 3.84533 72.5444 8.58333 72.55H94.4167C94.8984 72.5519 95.3793 72.5099 95.8535 72.4247C99.984 71.7333 103.008 68.1547 103 63.9667V9.03333C102.994 4.29512 99.1547 0.455576 94.4167 0.449997ZM8.58333 69.1167C5.91499 69.1162 3.68869 67.0779 3.45393 64.4199L37.6808 42.0414L72.488 69.1167H8.58333ZM99.5667 63.9667C99.5695 66.4863 97.7444 68.6362 95.2578 69.0428C94.9802 69.0928 94.6986 69.1175 94.4167 69.1167H78.0792L55.335 51.4161L75.6741 35.1524L99.5667 49.4883V63.9667ZM99.5667 45.485L76.4174 31.5955C75.802 31.2253 75.0213 31.2775 74.4604 31.7259L52.5437 49.2531L38.819 38.5789C38.2407 38.1295 37.4411 38.0963 36.8276 38.4965L3.43333 60.3308V9.03333C3.43333 6.18903 5.73903 3.88333 8.58333 3.88333H94.4167C97.261 3.88333 99.5667 6.18903 99.5667 9.03333V45.485Z"
                  fill="#B7B7B7"/>
            <path d="M51.5 10.75C45.8114 10.75 41.2 15.3614 41.2 21.05C41.2056 26.7362 45.8138 31.3444 51.5 31.35C57.1886 31.35 61.8 26.7386 61.8 21.05C61.8 15.3614 57.1886 10.75 51.5 10.75ZM51.5 27.9167C47.7077 27.9167 44.6333 24.8423 44.6333 21.05C44.6333 17.2577 47.7077 14.1833 51.5 14.1833C55.2923 14.1833 58.3667 17.2577 58.3667 21.05C58.3667 24.8423 55.2923 27.9167 51.5 27.9167Z"
                  fill="#B7B7B7"/>
        </svg>
    </section>

    <section class="customTextBlock">
        <div class="customTextWrapInput">
            <input type="text" class="customTextInput" placeholder="Custom text">
            <button class="customtextButton"></button>
        </div>
        <div class="categoryListWrap">
            <div class="customTextCategoryList">
                {% for category in categories %}
                    {% if category.font_category.count > 0 %}
                        <div class="categoryButton customTextCategoryItem customTextCategoryItemHover"
                             id="{{ category.id }}">{{ category.name }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="mainCategoryListBlock">
    </section>
{% endblock %}
{% block share %}
    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-title="FONTS TATTOO">
        <a class="a2a_button_facebook socb"></a>
        <a class="a2a_button_twitter socb"></a>
        <a class="a2a_button_email socb"></a>
        <a class="a2a_button_whatsapp socb"></a>
        <a class="a2a_button_pinterest socb"></a>
        <a class="a2a_button_telegram socb"></a>
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    </div>
    <!-- AddToAny END -->
{% endblock %}
{% block scripts %}
    <script>

        $(document).ready(function () {
            var cats_dict = {};

            {% for category in categories %}
                cats_dict['{{ category.id }}'] = "off";
            {% endfor %}
            let mainCardBlock,
                //addActionButton = 0,
                //categoryButton = 0,
                //updateWork = 0,
                //buttonsCopyDownload = 0,
                //customTextChangeWrap = 0,
                g_font_id = 0,
                image_href = '',
                g_link = '',
                // Отвечает за скорость анимаций модульного окна
                cardsFonts = {
                    apply: '',
                    unlock: ''
                },
                dowloadText = '',
                updateButton = `
      <button class="buttonHeader buttonUpdate">
         <span class="buttonHeaderLink buttonUnlockText">Update</span>
         <div class="buttonUnlockBg"></div>
      </button>
   `


            window.Clipboard = (function (window, document, navigator) {
                var textArea,
                    copy;

                function isOS() {
                    return navigator.userAgent.match(/ipad|iphone/i);
                }

                function createTextArea(text) {
                    textArea = document.createElement('textArea');
                    textArea.value = text;
                    document.body.appendChild(textArea);
                }

                function selectText() {
                    var range,
                        selection;

                    if (isOS()) {
                        range = document.createRange();
                        range.selectNodeContents(textArea);
                        selection = window.getSelection();
                        selection.removeAllRanges();
                        selection.addRange(range);
                        textArea.setSelectionRange(0, 999999);
                    } else {
                        textArea.select();
                    }
                }

                function copyToClipboard() {
                    document.execCommand('copy');
                    document.body.removeChild(textArea);
                }

                copy = function (text) {
                    createTextArea(text);
                    selectText();
                    copyToClipboard();
                };

                return {
                    copy: copy
                };
            })(window, document, navigator);

            if (document.querySelector('.mainCategoryListBlock') || document.querySelector('.customTextPageBlock')) {


                buttonsCopyDownload = () => {
                    //Копирование текста с помощью кнопки Copy Link
                    const buttonCopyLink = document.querySelector('.downloadButtonCopyLink');
                    buttonCopyLink.addEventListener('click', () => {
                        navigator.clipboard.writeText(g_link).then(function () {

                            buttonLink = document.querySelector('.downloadButtonCopyLink .buttonHeaderLink');
                            buttonLink.innerHTML = "Copied!"
                            setTimeout(function () {
                                buttonLink.innerHTML = "Copy Link"
                            }, 2000);

                        }, function () {
                        });
                    })

                    // Работа кнопки downloadButtonJpeg
                    const downloadButtonJpeg = document.querySelector('.downloadButtonJpeg');
                    downloadButtonJpeg.addEventListener('click', () => {
                        var link = document.createElement('a');
                        link.setAttribute('href', 'storage/' + image_href);
                        link.setAttribute('download', 'sketch.jpg');
                        link.click();

                        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        $.ajax
                        ({
                            data:
                                {
                                    csrfmiddlewaretoken: csrftoken,
                                    action: 'dwnld',
                                    font_id: g_font_id
                                }, // get the form data
                            type: "POST", // GET or POST
                            url: "{% url 'index' %}",
                            // on success
                            success: function (response) {
                            },
                            // on error
                            error: function (response) {
                            }
                        });

                    })
                }

                customTextChangeWrap = document.querySelector('.customTextWrapInput');
                updateWork = () => {
                    // Вывод алерта при нажании на update
                    customTextChangeWrap.querySelector('.buttonUpdate').addEventListener('click', () => {
                        const customTextInput = document.querySelector('.customTextInput').value,
                            pcrresult = document.querySelector('.pcr-result').value;
                        var downloadBlock = document.querySelector('.downloadBlock');
                        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                        $.ajax
                        ({
                            data:
                                {
                                    csrfmiddlewaretoken: csrftoken,
                                    action: 'get_img',
                                    text: customTextInput,
                                    color: pcrresult,
                                    font_id: g_font_id
                                }, // get the form data
                            type: "POST", // GET or POST
                            url: "{% url 'index' %}",
                            // on success
                            success: function (response) {
                                var json = $.parseJSON(response['sketch']);
                                host = window.location.origin
                                g_link = host + "/sketch/" + json[0].fields.hash;
                                image_href = json[0].fields.image
                                dowloadText = '' +
                                    '<div class="userTextDownloadBlock">' +
                                    '<img src="storage/' + json[0].fields.image + '" alt="" class="userTextDownloadImg">' +
                                    '</div>' +
                                    '<div class="downloadButtons">' +
                                    '<button class="buttonHeader downloadButtonCopyLink">' +
                                    '<span class="buttonHeaderLink">Copy Link</span>' +
                                    '<div class="buttonUnlockBg"></div>' +
                                    '</button>' +
                                    '<button class="buttonHeader downloadButtonJpeg">' +
                                    '<span class="buttonHeaderLink">Download .jpeg</span>' +
                                    ' <div class="buttonUnlockBg"></div>' +
                                    '</button>' +
                                    '</div>'
                                downloadBlock.innerHTML = dowloadText;
                                downloadBlock.classList.add('downloadBlockWork');

                                const topOffset = document.querySelector('.header').offsetHeight,
                                    elementPosition = downloadBlock.getBoundingClientRect().top,
                                    offsetPosition = elementPosition - 100 - topOffset;
                                window.scrollBy({
                                    top: offsetPosition,
                                    behavior: 'smooth'
                                });

                                // Добавление кнопки update
                                customTextChangeWrap.classList.add('customTextWrapInputNow');
                                if (!customTextChangeWrap.querySelector('.buttonUpdate')) {
                                    customTextChangeWrap.insertAdjacentHTML('beforeend', updateButton);

                                    updateWork();
                                }

                                buttonsCopyDownload();
                            },
                            // on error
                            error: function (response) {
                                alert(response.responseJSON.errors);
                            }
                        });

                    })

                }
            }

            if (document.querySelector('.modalWindow') && document.querySelector('.dark_modal')) {
                darkModal = document.querySelector('.dark_modal'),
                    modalWindow = document.querySelector('.modalWindow'),
                    modalClose = document.querySelector('.modalClose'),
                    // Отвечает за скорость анимаций модульного окна
                    animSpeed = 500;

                let animNow = false;

                buttonUnlockEvent = () => {
                    if (animNow == false) {
                        animNow = true;

                        darkModal.classList.add("dark_bg");

                        darkModal.style.animation = darkAnim("darkAnim");
                        modalWindow.style.animation = darkAnim("darkAnim");
                        modalWindow.classList.add('openAdaptive');
                        setTimeout(() => {
                            animNow = false;
                        }, animSpeed);
                    }
                }

                // функция обеспечивающая вызов модульного окно по клику на unlock или share link
                function addActionButton() {

                    var modalMenuButton = document.querySelectorAll('.buttonUnlock');
                    modalMenuButton.forEach(item => {
                        item.addEventListener('click', buttonUnlockEvent)
                    })
                }

                addActionButton = addActionButton();

                modalClose.addEventListener('click', modalCloseFun)
                darkModal.addEventListener('click', modalCloseFun)

                function darkAnim(nameAnim) {
                    return (nameAnim + " " + (animSpeed / 1000) + "s ease-in forwards");
                }

                function modalCloseFun() {
                    if (animNow == false) {
                        animNow = true;

                        darkModal.style.animation = darkAnim("darkAnimReverse");
                        modalWindow.style.animation = darkAnim("darkAnimReverse");
                        setTimeout(() => {
                            modalWindow.classList.remove("openAdaptive");
                            darkModal.classList.remove("dark_bg");
                            animNow = false;
                        }, animSpeed);
                    }
                }
            }


            if (document.querySelector('.mainCategoryListBlock')) {
                mainCardBlock = document.querySelector('.mainCategoryListBlock');

                // функция добавлениея новой карточки
                function addNewCard(card, lastCard) {
                    mainCardBlock.insertAdjacentHTML('afterbegin', card)
                    if (lastCard == 1) {
                        buttonsCardWork('buttonApply');
                    }

                }

                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                $.ajax
                ({
                    data:
                        {
                            csrfmiddlewaretoken: csrftoken,
                            action: 'getfonts'
                        }, // get the form data
                    type: "POST", // GET or POST
                    url: "{% url 'index' %}",
                    // on success
                    success: function (response) {
                        count = response['font_count']
                        var json = $.parseJSON(response['fonts']);
                        var i = 1;
                        for (var key in json) {
                            if (json.hasOwnProperty(key)) {
                                if (json[key].fields.open == true || response['af'] == '1') {
                                    card = '' +
                                        '<div class="mainCategoryItem">' +
                                        '<p class="mainCategoryReenieBeanie">' + json[key].fields.name + ', ' + json[key].fields.language_type + '</p>' +
                                        '<div class="mainCategoryItemContentWrap">' +
                                        '<div class="categoryItemImg">' +
                                        '<img src="storage/' + json[key].fields.image + '" alt="">' +
                                        '</div>' +
                                        '<div class="mainCategoryItemRightSide">' +
                                        '<div class="quantityDownload">' +
                                        '<span>' + json[key].fields.downloads + '</span>' +
                                        '<svg viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">' +
                                        '<path d="M11.2205 8.21525L9.03125 10.4051V4.78125C9.03125 4.488 8.79325 4.25 8.5 4.25C8.20675 4.25 7.96875 4.488 7.96875 4.78125V10.4051L5.77947 8.21578C5.57175 8.00806 5.23547 8.00806 5.02828 8.21578C4.82056 8.4235 4.82056 8.75978 5.02828 8.96694L8.03356 11.9722C8.16106 12.0997 8.33531 12.139 8.50056 12.1098C8.66525 12.139 8.84003 12.0992 8.96753 11.9722L11.9728 8.96694C12.1805 8.75922 12.1805 8.42297 11.9728 8.21578C11.7645 8.00806 11.4283 8.00806 11.2205 8.21525ZM8.5 0C3.80589 0 0 3.80533 0 8.5C0 13.1947 3.80589 17 8.5 17C13.1941 17 17 13.1941 17 8.5C17 3.80589 13.1947 0 8.5 0ZM8.5 15.9375C4.39236 15.9375 1.0625 12.6076 1.0625 8.5C1.0625 4.39236 4.39236 1.0625 8.5 1.0625C12.6076 1.0625 15.9375 4.39236 15.9375 8.5C15.9375 12.6076 12.6076 15.9375 8.5 15.9375Z" fill="#818181"/>' +
                                        '</svg>' +
                                        '</div>' +
                                        '<button class="buttonHeader buttonApply" id="' + json[key].pk + '">' +
                                        '<span class="buttonHeaderLink buttonUnlockText">Apply</span>' +
                                        '<div class="buttonUnlockBg"></div>' +
                                        '</button>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>'
                                } else {
                                    card = '' +
                                        '<div class="mainCategoryItem mainCategoryItemUnlock">' +
                                        '<p class="mainCategoryReenieBeanie">' + json[key].fields.name + ', ' + json[key].fields.language_type + '</p>' +
                                        '<div class="mainCategoryItemContentWrap">' +
                                        '<div class="categoryItemImg">' +
                                        '<img src="storage/' + json[key].fields.image + '" alt="">' +
                                        '</div>' +
                                        '<div class="mainCategoryItemRightSide">' +
                                        '<div class="quantityDownload">' +
                                        '<span>' + json[key].fields.downloads + '</span>' +
                                        '<svg viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">' +
                                        '<path d="M11.2205 8.21525L9.03125 10.4051V4.78125C9.03125 4.488 8.79325 4.25 8.5 4.25C8.20675 4.25 7.96875 4.488 7.96875 4.78125V10.4051L5.77947 8.21578C5.57175 8.00806 5.23547 8.00806 5.02828 8.21578C4.82056 8.4235 4.82056 8.75978 5.02828 8.96694L8.03356 11.9722C8.16106 12.0997 8.33531 12.139 8.50056 12.1098C8.66525 12.139 8.84003 12.0992 8.96753 11.9722L11.9728 8.96694C12.1805 8.75922 12.1805 8.42297 11.9728 8.21578C11.7645 8.00806 11.4283 8.00806 11.2205 8.21525ZM8.5 0C3.80589 0 0 3.80533 0 8.5C0 13.1947 3.80589 17 8.5 17C13.1941 17 17 13.1941 17 8.5C17 3.80589 13.1947 0 8.5 0ZM8.5 15.9375C4.39236 15.9375 1.0625 12.6076 1.0625 8.5C1.0625 4.39236 4.39236 1.0625 8.5 1.0625C12.6076 1.0625 15.9375 4.39236 15.9375 8.5C15.9375 12.6076 12.6076 15.9375 8.5 15.9375Z" fill="#818181"/>' +
                                        '</svg>' +
                                        '</div>' +
                                        '<button class="buttonHeader buttonUnlock" id="' + json[key].pk + '">' +
                                        '<span class="buttonHeaderLink buttonUnlockText">Unlock</span>' +
                                        '<div class="buttonUnlockBg"></div>' +
                                        '</button>' +
                                        '</div>' +
                                        '</div>' +
                                        '<p class="mainCategoryItemShareLink">Please, <button type="button" class="shareLink buttonUnlock">share link</button> to our service, to activate all fonts</p>' +
                                        '</div>'
                                }
                                if (i + 1 > count) {
                                    addNewCard(card, 1);
                                } else {
                                    addNewCard(card);
                                }
                            }
                            i = i + 1
                        }
                        addActionButton();
                    },
                    // on error
                    error: function (response) {
                    }
                });

                function changeUnlock() {
                    const itemUnlock = document.querySelectorAll('.mainCategoryItemUnlock');
                    buttonsCardWork('buttonUnlock');
                    itemUnlock.forEach((item, i, arr) => {
                        const buttonUnlock = item.querySelector('.buttonUnlock'),
                            ItemShareLink = item.querySelector('.mainCategoryItemShareLink'),
                            buttonHeaderLink = item.querySelector('.buttonHeaderLink');

                        item.classList.remove('mainCategoryItemUnlock');
                        item.classList.add('mainCategoryItemApply');
                        buttonUnlock.removeEventListener('click', buttonUnlockEvent);
                        ItemShareLink.remove();
                        buttonUnlock.classList.remove('buttonUnlock');
                        buttonUnlock.classList.add('buttonApply');
                        buttonHeaderLink.classList.remove('buttonUnlockText');
                        buttonHeaderLink.classList.add('buttonApplyText');
                        buttonHeaderLink.innerHTML = 'Apply';
                    })
                }

                // функция кнопки Apply
                function buttonsCardWork(buttonClass) {
                    var buttonApply = document.querySelectorAll(`.${buttonClass}`);
                    buttonApply.forEach((item) => {
                        item.addEventListener('click', () => {
                            var downloadBlock = document.querySelector('.downloadBlock');
                            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                            customTextInput = document.querySelector('.customTextInput').value;
                            pcrresult = document.querySelector('.pcr-result').value;


                            const topOffset = document.querySelector('.header').offsetHeight,
                                elementPosition = downloadBlock.getBoundingClientRect().top,
                                offsetPosition = elementPosition - 100 - topOffset;
                            window.scrollBy({
                                top: offsetPosition,
                                behavior: 'smooth'
                            });

                            $.ajax
                            ({
                                data:
                                    {
                                        csrfmiddlewaretoken: csrftoken,
                                        action: 'get_img',
                                        text: customTextInput,
                                        color: pcrresult,
                                        font_id: item.id
                                    }, // get the form data
                                type: "POST", // GET or POST
                                url: "{% url 'index' %}",
                                // on success
                                success: function (response) {
                                    g_font_id = item.id
                                    var json = $.parseJSON(response['sketch']);
                                    host = window.location.origin
                                    g_link = host + "/sketch/" + json[0].fields.hash;
                                    image_href = json[0].fields.image
                                    dowloadText = '' +
                                        '<div class="userTextDownloadBlock">' +
                                        '<img src="storage/' + json[0].fields.image + '" alt="" class="userTextDownloadImg">' +
                                        '</div>' +
                                        '<div class="downloadButtons">' +
                                        '<button class="buttonHeader downloadButtonCopyLink">' +
                                        '<span class="buttonHeaderLink">Copy Link</span>' +
                                        '<div class="buttonUnlockBg"></div>' +
                                        '</button>' +
                                        '<button class="buttonHeader downloadButtonJpeg">' +
                                        '<span class="buttonHeaderLink">Download .jpeg</span>' +
                                        ' <div class="buttonUnlockBg"></div>' +
                                        '</button>' +
                                        '</div>'
                                    downloadBlock.innerHTML = dowloadText;
                                    downloadBlock.classList.add('downloadBlockWork');

                                    // Добавление кнопки update
                                    customTextChangeWrap.classList.add('customTextWrapInputNow');
                                    if (!customTextChangeWrap.querySelector('.buttonUpdate')) {
                                        customTextChangeWrap.insertAdjacentHTML('beforeend', updateButton);

                                        updateWork();
                                    }

                                    buttonsCopyDownload();
                                },
                                // on error
                                error: function (response) {
                                    alert(response.responseJSON.errors);
                                }
                            });


                        })

                    })
                    if (document.querySelector('.modalWindow') && document.querySelector('.dark_modal')) {
                        addActionButton;
                    }
                }
            }


            function delButtonsCardWork(buttonClass) {
                var buttonApply = document.querySelectorAll(`.${buttonClass}`);
                buttonApply.forEach((item) => {
                    item.remove();
                })
            }


            if (document.querySelector('.categoryButton') && !document.querySelector('.listCategoriesArticleWrap')) {
                categoryButton = document.querySelectorAll('.categoryButton');
                // Анимация кнопок "Категория"
                categoryButton.forEach((item) => {
                    item.addEventListener('click', () => {

                        document.querySelector('.footer').setAttribute('hidden', 'true');
                        document.querySelector('.Mmain').setAttribute('style', 'min-height: ' + document.documentElement.scrollHeight.toString() + 'px;!important;')

                        item.classList.toggle('categoryButtonActive');
                        // Первое нажатие по кнопке "Категория"

                        if (item.classList.contains('customTextCategoryItemHover')) {
                            setInterval(() => {
                                item.classList.remove('customTextCategoryItemHover')
                            }, 10);
                            // второе нажание по кнопке "Категория"
                        } else if (item.classList.contains('customTextCategoryItemHover')) {
                            setInterval(() => {
                                item.classList.add('customTextCategoryItemHover')
                            }, 10);
                        }
                        if (cats_dict[item.id] == 'off') {
                            cats_dict[item.id] = 'on'
                        } else {
                            cats_dict[item.id] = 'off'
                        }
                        delButtonsCardWork('mainCategoryItem');


                        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        $.ajax
                        ({
                            data:
                                {
                                    csrfmiddlewaretoken: csrftoken,
                                    action: 'getfonts_cats',
                                    cats: cats_dict
                                }, // get the form data
                            type: "POST", // GET or POST
                            url: "{% url 'index' %}",
                            // on success
                            success: function (response) {
                                count = response['font_count']
                                var json = $.parseJSON(response['fonts']);
                                var i = 1;
                                for (var key in json) {
                                    if (json.hasOwnProperty(key)) {
                                        if (json[key].fields.open == true || response['af'] == '1') {
                                            card = '' +
                                                '<div class="mainCategoryItem">' +
                                                '<p class="mainCategoryReenieBeanie">' + json[key].fields.name + ', ' + json[key].fields.language_type + '</p>' +
                                                '<div class="mainCategoryItemContentWrap">' +
                                                '<div class="categoryItemImg">' +
                                                '<img src="storage/' + json[key].fields.image + '" alt="">' +
                                                '</div>' +
                                                '<div class="mainCategoryItemRightSide">' +
                                                '<div class="quantityDownload">' +
                                                '<span>' + json[key].fields.downloads + '</span>' +
                                                '<svg viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">' +
                                                '<path d="M11.2205 8.21525L9.03125 10.4051V4.78125C9.03125 4.488 8.79325 4.25 8.5 4.25C8.20675 4.25 7.96875 4.488 7.96875 4.78125V10.4051L5.77947 8.21578C5.57175 8.00806 5.23547 8.00806 5.02828 8.21578C4.82056 8.4235 4.82056 8.75978 5.02828 8.96694L8.03356 11.9722C8.16106 12.0997 8.33531 12.139 8.50056 12.1098C8.66525 12.139 8.84003 12.0992 8.96753 11.9722L11.9728 8.96694C12.1805 8.75922 12.1805 8.42297 11.9728 8.21578C11.7645 8.00806 11.4283 8.00806 11.2205 8.21525ZM8.5 0C3.80589 0 0 3.80533 0 8.5C0 13.1947 3.80589 17 8.5 17C13.1941 17 17 13.1941 17 8.5C17 3.80589 13.1947 0 8.5 0ZM8.5 15.9375C4.39236 15.9375 1.0625 12.6076 1.0625 8.5C1.0625 4.39236 4.39236 1.0625 8.5 1.0625C12.6076 1.0625 15.9375 4.39236 15.9375 8.5C15.9375 12.6076 12.6076 15.9375 8.5 15.9375Z" fill="#818181"/>' +
                                                '</svg>' +
                                                '</div>' +
                                                '<button class="buttonHeader buttonApply" id="' + json[key].pk + '">' +
                                                '<span class="buttonHeaderLink buttonUnlockText">Apply</span>' +
                                                '<div class="buttonUnlockBg"></div>' +
                                                '</button>' +
                                                '</div>' +
                                                '</div>' +
                                                '</div>'
                                        } else {
                                            card = '' +
                                                '<div class="mainCategoryItem mainCategoryItemUnlock">' +
                                                '<p class="mainCategoryReenieBeanie">' + json[key].fields.name + ', ' + json[key].fields.language_type + '</p>' +
                                                '<div class="mainCategoryItemContentWrap">' +
                                                '<div class="categoryItemImg">' +
                                                '<img src="storage/' + json[key].fields.image + '" alt="">' +
                                                '</div>' +
                                                '<div class="mainCategoryItemRightSide">' +
                                                '<div class="quantityDownload">' +
                                                '<span>' + json[key].fields.downloads + '</span>' +
                                                '<svg viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">' +
                                                '<path d="M11.2205 8.21525L9.03125 10.4051V4.78125C9.03125 4.488 8.79325 4.25 8.5 4.25C8.20675 4.25 7.96875 4.488 7.96875 4.78125V10.4051L5.77947 8.21578C5.57175 8.00806 5.23547 8.00806 5.02828 8.21578C4.82056 8.4235 4.82056 8.75978 5.02828 8.96694L8.03356 11.9722C8.16106 12.0997 8.33531 12.139 8.50056 12.1098C8.66525 12.139 8.84003 12.0992 8.96753 11.9722L11.9728 8.96694C12.1805 8.75922 12.1805 8.42297 11.9728 8.21578C11.7645 8.00806 11.4283 8.00806 11.2205 8.21525ZM8.5 0C3.80589 0 0 3.80533 0 8.5C0 13.1947 3.80589 17 8.5 17C13.1941 17 17 13.1941 17 8.5C17 3.80589 13.1947 0 8.5 0ZM8.5 15.9375C4.39236 15.9375 1.0625 12.6076 1.0625 8.5C1.0625 4.39236 4.39236 1.0625 8.5 1.0625C12.6076 1.0625 15.9375 4.39236 15.9375 8.5C15.9375 12.6076 12.6076 15.9375 8.5 15.9375Z" fill="#818181"/>' +
                                                '</svg>' +
                                                '</div>' +
                                                '<button class="buttonHeader buttonUnlock" id="' + json[key].pk + '">' +
                                                '<span class="buttonHeaderLink buttonUnlockText">Unlock</span>' +
                                                '<div class="buttonUnlockBg"></div>' +
                                                '</button>' +
                                                '</div>' +
                                                '</div>' +
                                                '<p class="mainCategoryItemShareLink">Please, <button type="button" class="shareLink buttonUnlock">share link</button> to our service, to activate all fonts</p>' +
                                                '</div>'
                                        }
                                        if (i + 1 > count) {
                                            addNewCard(card, 1);
                                        } else {
                                            addNewCard(card);
                                        }
                                    }
                                    i = i + 1
                                }
                                document.querySelector('.Mmain').setAttribute('style', 'min-height: 100vh;!important;')
                                document.querySelector('.footer').removeAttribute('hidden');
                                addActionButton();

                            },
                            // on error
                            error: function (response) {
                            }
                        });
                    })
                })
            }

            if (document.querySelector('.customtextButton')) {
                const pickr = Pickr.create({
                    el: '.customtextButton',
                    theme: 'nano',
                    default: '#1B1B1B',

                    comparison: false,

                    components: {

                        // Main components
                        preview: true,
                        hue: true,

                        // Input / output Options
                        interaction: {
                            input: true
                        }
                    }
                });

                // Изменение квадрата
                pickr.on('change', () => {
                    pickr.applyColor();
                })
            }

            if (document.querySelector('.customTextPageBlock')) {
                updateWork();
                buttonsCopyDownload();
            }


            function lego() {
                setTimeout(function () {
                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    $.ajax
                    ({
                        data:
                            {
                                csrfmiddlewaretoken: csrftoken,
                                action: 'acceptFonts'
                            }, // get the form data
                        type: "POST", // GET or POST
                        url: "{% url 'index' %}",
                        // on success
                        success: function (response) {
                            changeUnlock();
                            document.querySelector('.modalTitle').innerHTML = "Thank you!"
                            document.querySelector('.modalText').innerHTML = "Now you can use all fonts."
                        },
                        // on error
                        error: function (response) {
                        }
                    });
                }, 3000);
            }

            function addActionSocialButton() {
                var modalMenuButton = document.querySelectorAll('.socb');
                modalMenuButton.forEach(item => {
                    item.addEventListener('click', lego)
                })
            }

            addActionSocialButton()
        });
    </script>

    <script src="{% static 'main/js/mobileCarousel.js' %}"></script>
{% endblock %}